.block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 100px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
