/* Đảm bảo body và html có chiều cao 100% */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Đảm bảo nội dung của blog chiếm toàn bộ không gian của màn hình */
.blog-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Đảm bảo phần container của blog chiếm toàn bộ không gian của màn hình */
.blog-container {
  height: 100%;
}

/* Đảm bảo phần article trong blog chiếm toàn bộ không gian của màn hình */
.blog-article {
  flex-grow: 1;
}
